<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> compañía de microblogging</title>
</head>
<body>
    <form id="login">
        <h5>Usar usuario</h5>
        <div id="error" class="hidden" style="color: black;"></div>
        <input class="controles" type="text" id="id" name="id" placeholder="id">
        <input class="controles" type="text" id="message" name="message" placeholder="message">
        <input class="controles" type="text" id="topic" name="topic" placeholder="topic">
        <input class="controles" type="bool" id="status" name="status" placeholder="status">
        <input class="botones" type="submit" id="submit" value="Ingresar" />
    </form>
    <script src="/static/js/login.js"></script>
</body>
</html>